{% extends "layout.html" %}
{% block content %}
  <div class="media acc">
    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <p class="text-secondary">Posts by {{ user.username }} ({{ posts.total }})</p>
    </div>
  </div>
  <div class="border-top pt-3"></div>
    {% for post in posts.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2 links" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">Posted on {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">Contact at : +91{{ post.contact }}</p>
        </div>
    </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-light paginate" href="{{ url_for('user_posts',username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-secondary paginate" href="{{ url_for('user_posts',username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %} 
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}